.centered
	h4 Happy Valentin's Day, Inca
    
	input.no(
		type='checkbox'
		name='answer'
		id='No'
	)
	label.no(for='No') Ew?
	
	input.ew(
		type='checkbox'
		name='answer'
		id='Ew'
	)
	label.ew(for='Ew') Ewhh
	
	input.a(
		type='checkbox'
		name='answer'
		id='A'
	)
	label.a(for='A') ????
	
	
	input.yes(
		type='checkbox'
		name='answer'
		id='Yes'
	)
	label.yes(for='Yes') ?? ok
	
	
	.answer--yes
	.answer--no
	.answer--ew
	.answer--a
	
    
.signature
	p Made with <i class="much-heart"></i> by <a href="https://www.instagram.com/florensj/">Floren</a>
	